.ContainerPricing {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  /* padding-left: 4rem;
  padding-right: 4rem; */
  font-family: Montserrat;
}
.headerBody {
  width: 100%;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  /* padding: 2rem 0; */
  background-color: rgba(250, 250, 250, 1);
  /* background-color: green; */
  min-height: 100vh;
}
.sectionB {
  padding: 2rem 0rem;
  /* padding-left: 8rem;
  padding-right: 8rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: white;
  /* background-color: rgba(250, 250, 250, 1); */
}
/* .pSectionImg {
  width: 4rem;
  height: 4rem;
}
.pSectionImg img {
  width: 100%;
} */
.sectionDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 0.5rem;
}
.pSection1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  color: rgba(115, 115, 115, 1);
}
.sectionBColorGrey {
  color: rgba(115, 115, 115, 1);
}
.section1h1 {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 3.5rem;
}
.sectionGrey {
  background-color: rgba(250, 250, 250, 1);
}
.sectionHBold {
  font-weight: 700;
  font-size: 14px;
  font-family: Montserrat;
}
.sectionh2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 2.2rem;
}
.priceSecB {
  /* width: 50%; */
  margin: 0 auto;
  text-align: center;
}
.pricingFlexContainers {
  background-color: rgba(250, 250, 250, 1);
  /* background-color: green; */
  padding: 3rem 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* height: 40rem; */
  flex-wrap: wrap;
  width: 100%;
}
.pricingminiFlexContainers {
  /* background-color: yellow; */
  border: rgba(35, 166, 240, 1) 1px solid;
  width: 20rem;
  /* height: 90%; */
  justify-content: space-between;
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 2.1rem 0;
  align-items: center;
  border-radius: 5px;
}

.miniflexTall {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  flex-direction: column;
  background-color: rgba(37, 43, 66, 1);
}
/* .miniflexcolor {
} */
.miniflexcolor * {
  color: white;
}
.semiflexh3 {
  font-weight: 700;
  font-size: 1.4rem;
}
.semiflexP {
  text-align: center;
  font-weight: 700;
}
.semiPricePrice {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.bigNum {
  color: rgba(35, 166, 240, 1);
  font-weight: 700;
  font-size: 2.3rem;
}
.bigNumdiv h3 {
  font-weight: 700;
  font-size: 1.23rem;
  color: rgba(35, 166, 240, 1);
}
.bigNumdiv p {
  color: rgba(142, 194, 242, 1);
  font-weight: 700;
  font-size: 14px;
}
.miniflexText {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;
}
.miniflexText div {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.miniflexText p {
  font-weight: 700;
  font-size: 14px;
}
.priceBtn {
  width: auto;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  border-radius: 5px;
  background-color: rgba(35, 166, 240, 1);
  margin: 1.5rem 0;
}
.blueBtn {
  background-color: rgba(37, 43, 66, 1);
}

.stickers p {
  font-weight: 400;
  font-size: 1.2rem;
}
.stickersImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.stickersImg img {
  width: 100%;
}
.stickers {
  padding: 6rem 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.Faqs {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FaqSec1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}
.FaqSec1 * {
  padding: 0.7rem 0;
}
.Faqsh2 {
  color: rgba(37, 43, 66, 1);
  font-weight: 700;
  font-size: 2.2rem;
}
.FaqP {
  color: rgba(115, 115, 115, 1);
  font-weight: 400;
  font-size: 1.2rem;
  font-size: 20px;
  text-align: center;
}
.faqsText {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
}
.priceSection {
  display: flex;
  width: 30rem;
  gap: 0.5rem;
}
.FaqImg {
  width: 2rem;
}
.priceminiSection {
  display: flex;
  flex-direction: column;
}
.priceminiSection h5 {
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.priceminiSection p {
  color: rgba(115, 115, 115, 1);
  font-weight: 400;
  font-size: 14px;
}
.faqPEnd {
  padding: 3rem 0;
  font-weight: 400;
}

.trialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  /* padding: 8rem 0; */
  padding: 2rem 2rem 4rem 2rem;
}
.blueBtn {
  display: flex;
  align-items: center;
  background-color: rgba(35, 166, 240, 1);
  color: white;
  width: 10rem;
  height: 3rem;
  justify-content: center;
}
.trialIcon {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.iconCon {
  width: 4rem;
}
.iconCon {
  width: 100%;
}
.tialH2 {
  color: rgba(37, 43, 66, 1);
  font-weight: 700;
  size: 40px;
}
.trialP {
  color: rgba(115, 115, 115, 1);
  font-weight: 400;
  font-size: 14px;
}
.priceFooter {
  padding: 0 2rem;
}
.priceFooterSec1 {
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceFooterSec2 {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem 4rem 0rem;
}
.priceFooterSec2 ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 1rem;
}
.priceFooterSec2 h3 {
  color: rgba(37, 43, 66, 1);
  font-weight: 700;
  font-size: 1rem;
}
.priceFooterSec2 li {
  list-style-type: none;
  color: rgba(115, 115, 115, 1);
  font-size: 14px;
  font-weight: 700;
}
.priceFooterBtn {
  overflow: hidden;
  height: 3rem;
  width: 5rem;
  background-color: rgba(35, 166, 240, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1536px) {
  .ContainerPricing {
    max-width: 1280px;
    font-size: 20px;
    padding: 2rem 0;
  }

  .miniflexTall {
    padding: 2.1rem;
  }
}
@media (min-width: 1280px) {
  .ContainerPricing {
    max-width: 1024px;
  }
}
@media (min-width: 1024px) {
  .ContainerPricing {
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .ContainerPricing {
    max-width: 640px;
  }
}
@media (min-width: 640px) {
  .ContainerPricing {
    max-width: 475px;
  }
}
@media (min-width: 475px) {
  .ContainerPricing {
    max-width: 100%;
  }
}

/* .miniflexTall {
  padding: 2.1rem;
}
@media (min-width: 475px) {
  .ContainerPricing {
    max-width: 475px;
  }
}
@media (min-width: 640px) {
  .ContainerPricing {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .ContainerPricing {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .ContainerPricing {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .ContainerPricing {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .ContainerPricing {
    max-width: 1536px;
  }
} */
