.about-section{
    display: flex;
    justify-content: space-between;
    height: 550px;
    /* border: solid; */
}
.about-texts{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    /* border: solid; */
}
.about-texts p{
    font-size: 19px;
    width: 380px;
    line-height: 35px;
    margin-top: -15px;
}
.about-texts h1{
    font-size: 3.5rem;
}
.about-texts h5{
    font-size: 1.05em;
}
.about-image{
    width: 100%;
    height: 700px;
    margin-top: -550px;
    z-index: -999;
    background-image: url("../../assets/about-section.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.about-section .cta{
    padding: 18px 35px;
}