.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-0-auto{
    margin: 0 auto;
}
.gap-20{
    gap: 20px;
}


.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 18px 25px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
}
.cta:hover{
    background-color: #2a7cc6;
}

.link{
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    color: var(--blue);
    font-weight: 600;
}

.container{
    margin: 0;
    padding: 0 10%;
}


.flex-column{
    display: flex;
    flex-direction: column;
}

.text-gray{
    color: #747474;
}
.text-white{
    color: white;
}